<section id="themes">
	<header>
		<h1>Temas a los que se dedica la Ayuda Oficial al Desarrollo</h1>
	</header>

	<section id="themes_treemap">
		<div id="treemap"></div>

		<div class="data_filter map_aid_dates">
			Año: 
			<ul>
			  <% (2007..2012).each do |year| %>
				  <li class="<%= (current_year.to_i==year) ? 'active' : ' ' %>"><%= link_to year, topics_path(year: year) %></li>
				<% end %>
			</ul>			
			<div class="nav_end"></div>
		</div>
	</section>
</section>

