<style type="text/css">.primary_links { display: none; } </style>
<section id="text_page">
	<nav class="nav">
		<summary>
		    <ul>
			    <li><a href="#acerca-de-este-proyecto">Acerca de este proyecto</a></li>
  				<li><a href="#acerca-de-la-aod">Acerca de la Ayuda Oficial al Desarrollo</a></li>
  				<li><a href="#origen-de-los-datos">Origen de los datos</a></li>
  				<li><a href="#faq">Preguntas frecuentes</a></li>
  				<li><a href="#financiacion">Financiación</a></li>
  				<li><a href="#equipo">Equipo</a></li>
  				<li><a href="#agradecimientos">Agradecimientos</a></li>
  				<li><a href="#contacto">Contacto</a></li>
			</ul>
		</summary>
	</nav>

	<section id="text_content">

		<h1>Acerca de ayudaaldesarrollo.es</h1>

	    <article id="acerca-de-este-proyecto">
			<h2>Acerca de este proyecto</h2>
			<p>Este proyecto es el resultado de cuatro meses de trabajo por parte de un equipo de ocho personas que nos propusimos investigar periodísticamente cómo afectan los recortes a la cooperación española. Hemos analizado los desembolsos de los más de 22.000 millones de euros invertidos en ayuda oficial al desarrollo de 2007 a 2012. Una política pública que se ha recortado un 67% desde 2008. Ni siquiera países en crisis como Grecia, Irlanda o Portugal han metido tanto la tijera como España.</p>

      <p>No nos hemos querido quedar tan solo en los datos. Además, hemos viajado a cinco países de tres continentes para comprobar cuál es el verdadero impacto de la ayuda y sus recortes. Hemos ido a Guatemala, Marruecos, Bolivia, Vietnam y República Democrática del Congo.</p>

      <p>En diciembre de 2013 empezamos a publicar los reportajes en <a href="http://www.elconfidencial.com/">El Confidencial</a> y en <a href="http://www.lasexta.com/programas/el-objetivo">El Objetivo de Ana Pastor</a>. Desde febrero de 2014 se puede consultar visualmente en esta web cada céntimo gastado en cooperación por las diferentes administraciones españolas en los últimos seis años. Es el primer esfuerzo realizado en nuestro país para hacer comprensibles estos datos de manera interactiva. A pesar de que otros países como Reino Unido o Suecia tienen portales oficiales similares a éste, a fecha del lanzamiento de nuestra página, España no tiene una herramienta similar.</p>

      <p>Nuestro propósito es dar contexto e información precisa sobre un tema que los políticos de este país entienden como política de partido y no como política pública, independiente de la ideología. Con esta aplicación cada uno puede sacar sus propias conclusiones y entender de una manera sencilla quién otorga el dinero, a qué países y para qué. Los datos utilizados están <a href="https://www.dropbox.com/s/5j0sg31uarojuto/proyectos_aod.zip">descargables en CSV</a> para su análisis en bruto aquí.</p>

			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="acerca-de-la-aod">
			<h2>Acerca de la Ayuda Oficial al Desarrollo</h2>
      <p>La Ayuda Oficial al Desarrollo (AOD) es el dinero que los países industrializados como España dan a los países en vías de desarrollo para que luchen contra la pobreza. En el caso de nuestro país, incluye el dinero otorgado por todas las administraciones públicas: la Administración General del Estado, las Comunidades Autónomas, las Entidades Locales y las universidades.</p>

      <p>Gracias a los compromisos internacionales de España, tenemos datos en detalle de cuánto dinero se dio realmente a cada proyecto y los datos son públicos. Es decir, no tenemos que depender de las previsiones de gasto agregadas (o presupuestos). En este proyecto hemos analizado los desembolsos de AOD desde 2007 a 2012, que es el último año con datos disponibles. En ese período se han gastado 22.300 millones de euros.</p>

      <p>Ese es el gasto final, pero son datos netos. Es decir, que resultan tras añadir las devoluciones del dinero que hemos prestado a algunos países en vías de desarrollo, ya que en la AOD no todo son subvenciones no reembolsables ("a fondo perdido").</p>

      <p>Si uno mira las cifras brutas, estamos hablando de 23.500 millones de euros y más de 147.000 registros con datos de desembolsos y reembolsos.</p>
			
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>
		
		<article id="origen-de-los-datos">
			<h2>Origen de los datos</h2>
			
			<p>Los datos utilizados son los volcados de los Seguimientos de los Planes Anuales de Cooperación Internacional (PACI) de 2007 a 2012, publicados <a href="http://www.exteriores.gob.es/Portal/es/SalaDePrensa/Multimedia/Publicaciones/Paginas/Cooperacion/Seguimiento.aspx">aquí</a> por el Ministerio de Asuntos Exteriores y de Cooperación. Las fechas de última modificación de los utilizados en esta web son:</p>

      <ul>
        <li>2007: Abril 2009</li>
        <li>2008: Mayo 2013</li>
        <li>2009: Febrero 2011</li>
        <li>2010: Mayo 2012</li>
        <li>2011: Febrero 2013</li>
        <li>2012: Octubre 2013</li>
      </ul>

      <p>Los datos se han tratado para su limpieza y estandarización. Hemos realizado alguna modificación puntual sobre los ficheros originales, según las informaciones confirmadas por el ministerio de manera privada:</p>

      <ul>
        <li>2008: Se han añadido los países receptores de los desembolsos con número de intervención "08-MBB-00001" relativos al "Fondo de Agua y Saneamiento"</li>
        <li>2010: Los desembolsos con número de intervención "2010-BIL-AGE-5062" y "2010-BIL-AGE-5063" están incorrectamente atribuidos a la República Democrática del Congo. El país receptor es República del Congo.</li>
        <li>2011: Los desembolsos con código interno "009-001097-1" y "009-001603-1" se eliminaron por estar duplicados y el "009-005817-1" por no haberse desembolsado.</li>
        <li>2012: El desembolso con número de ID "009-052177-1" se eliminó ya que en posteriores revisiones el ministerio determinó que no era ayuda oficial al desarrollo.</li>
      </ul>

      <p>Los temas se corresponden a la clasificación de códigos CRS establecida por el Comité de Ayuda al Desarrollo de la OCDE y disponibles <a href="http://www.oecd.org/dac/stats/purposecodessectorclassification.htm">aquí</a>.</p>

      <p>La información sobre otros países donantes se ha obtenido del Comité de Ayuda al Desarrollo (CAD) de la Organización para la Cooperación y el Desarrollo Económico (OCDE), que se puede consultar <a href="http://www.oecd.org/development/data.htm">aquí</a>.</p>

			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="faq">
		  <h2>Preguntas frecuentes</h2>

			<h3 id="faq-1">¿Qué diferencia hay entre ayuda bruta y ayuda neta?</h3>
			<p>La ayuda oficial al desarrollo bruta es el dinero dedicado a cooperación en los países en vías de desarrollo. Se habla de cifras netas cuando se restan los reembolsos de los créditos concedidos con anterioridad y que son devueltos cada año por algunos países. </p>
			<p>Las cifras utilizadas por la OCDE para hacer comparaciones entre donantes son netas y por eso hablamos de AOD neta en la portada de la web. Sin embargo, las cifras principales mostradas por país, tema y organismo son de ayuda bruta, ya que hablan del esfuerzo real que se hace sobre cada uno.</p>
        
			<h3 id="faq-2">¿Y entre ayuda bilateral, multibilateral y multilateral?</h3>
      <p>La ayuda bilateral es la ayuda destinada de manera directa a gobiernos y organizaciones no gubernamentales.</p>
      <p>La ayuda multibilateral es la ayuda destinada de manera directa a proyectos específicos de organismos internacionales. La OCDE la incluye dentro de las cantidades de ayuda bilateral en sus estadísticas. </p>
      <p>La ayuda multilateral es la ayuda 'indirecta' destinada a organismos internacionales, como Naciones Unidas o la propia Unión Europea, para su posterior gestión.</p>

			<h3 id="faq-3">¿Qué son los créditos reembolsados?</h3>
      <p>No toda la ayuda oficial al desarrollo es a través de subvenciones “a fondo perdido”. También existe la “ayuda reembolsable” o créditos, que pueden ser dados en pequeñas o grandes cantidades (como fue el <a href="http://www.icex.es/icex/cda/controller/pageICEX/0,6558,5518394_5518983_5586834_637344_0_-1,00.html">Fondo de Ayuda al Desarrollo</a>). En cualquier caso, es un dinero que se tiene que devolver a España y que se contabiliza todos los años dentro de los desembolsos de ayuda oficial al desarrollo.</p>

			<h3 id="faq-4">¿Por qué los datos de 2007 y 2012 son diferentes al resto de años?</h3>
			<p>Los datos de 2007 y 2012 han sido tratados de manera diferente por el Servicio de Estadística de la Subdirección General de Políticas de Desarrollo del Ministerio de Asuntos Exteriores y Cooperación. Esto hace que las cantidades relativas a países y temas sean menores que en el resto de años y por tanto, no se pueden comparar. Por ejemplo, el recorte de fondos en un país de 2011 a 2012 podría precer mayor de lo que realmente ha sido.</p>
      <p>El cambio de criterio consiste en que de 2008 a 2011 se desglosaba por países las cantidades relativas a la ayuda multilateral. Esta ayuda es la recibida por organismos internacionales. El ministerio utilizaba los informes de cada organismo para ver a qué países había dado dinero y de ahí hacía una estimación de lo que proporcionalmente habría provenido de España. Estas cifras eran ficticias, pero ayudaban a entender el impacto final de esa ayuda. En 2012 se decidió que este desglose no se iba a hacer más por tratarse de estimaciones. Esto hace que el 70% de la AOD bruta de ese año no esté desglosada por país y que casi la mitad de la ayuda no tenga un tema asignado.</p>

  		<h3 id="faq-5">¿Por qué no todas las ayudas tienen un país de destino?</h3>
  		<p>El país receptor del dinero se conoce si la ayuda es bilateral o multibilateral, ya que se da bien a una ONG para un proyecto específico, directamente al gobierno del país o a un programa concreto dentro de un organismo multilateral, con un foco geográfico. Cuando el dinero se da directamente un organismo internacional no se puede saber exactamente cuál es la distribución geográfica exacta del dinero. Son casos como el apoyo al funcionamiento de las Naciones Unidas o la transferencia de la cuota comprometida en cooperación a la Unión Europea. El ministerio hizo estimaciones del desglose de la ayuda multilateral por países desde 2008 a 2011, pero ya no lo hace más.</p>
      <p>Además, la ayuda bilateral también puede destinarse a una zona del mundo, por ejemplo, “norte de África”, y por ello esa información no puede estar asignada a un solo país destinatario.</p>
        
  		<h3 id="faq-6">El proyecto dura varios años, ¿por qué solo puedo ver el desembolso de un año?</h3>
  		<p>Por como se recoge la información, a día de hoy los datos proporcionados por el ministerio solo registran lo desembolsado año a año y no se puede saber si un proyecto es el mismo durante varios años. Es decir, es imposible trazar un proyecto de un año a otro de manera automática. Esto sería lo ideal. Desde el ministerio aseguran que se está trabajando para cambiar la manera en la que se recogen los datos y que en el futuro esta deficiencia será subsanada.</p>      
      
  		<h3 id="faq-7">La cantidad desembolsada es cero, ¿es un error?</h3>
  		<p>Los datos originales incluyen decenas de proyectos donde la cantidad desembolsada es cero. En la mayoría de los casos lo que ocurre es que el dato se registra porque la cantidad se comprometió pero finalmente no se llegó a desembolsar ese año. Tras consultar con el ministerio, nosotros decidimos no eliminar ningún proyecto (incluso si la cantidad desembolsada es cero).</p>
      <p>Si estás viendo la información relativa a un país, tema u organismo y ves desembolso cero esto quiere decir que no hay datos para ese año.</p>
      
  		<h3 id="faq-8">He visto textos con faltas de ortografía o errores tipográficos…</h3>
      <p>Los textos del título y descripción de cada proyecto, así como su localización, se han dejado tal y como los publicó el ministerio. Las faltas de ortografía, errores tipográficos o incongruencias provienen por tanto de la fuente original.</p>
      
		</article>

		<article id="financiacion">
			<h2>Financiación</h2>
			<p>Este trabajo de investigación periodística ha sido posible gracias a una <a href="http://journalismgrants.org/press-release-the-first-awards-of-the-innovation-in-development-reporting-grant-programme-announced/ – Change | Remove">ayuda</a> financiada por las Journalism Grants, concedidas mediante concurso abierto del <a href="http://ecj.net">European Journalism Center</a> y la <a href="http://www.gatesfoundation.org/">Bill & Melinda Gates Foundation</a>. Los medios de publicación han sido: El Confidencial y el programa El Objetivo (laSexta TV). La independencia editorial de los donantes ha sido total.</p>
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="equipo">
			<h2>Equipo</h2>
			<p>
				<ul>
					<li>Jefa de proyecto: <a href="http://www.linkedin.com/pub/mar-cabra/21/bb8/8b9">Mar Cabra</a></li>
					<li>Análisis de datos: <a href="http://www.linkedin.com/pub/mar-cabra/21/bb8/8b9">Mar Cabra</a> y <a href="http://jescuderoma.pressfolios.com/">Jesús Escudero</a></li>
					<li>Reporteros:
						<ul>
							<li><a href="http://www.linkedin.com/pub/marcos-garc%C3%ADa-rey/49/84a/266">Marcos García Rey</a></li>
							<li><a href="http://jescuderoma.pressfolios.com/">Jesús Escudero</a></li>
							<li><a href="https://twitter.com/Poves">Carlos Hernanz</a></li>
							<li><a href="https://twitter.com/rvillaecija">Raquel Villaécija</a></li>
							<li><a href="http://www.obamaworld.es/">Jordi Pérez Colomé</a></li>
						</ul>
					</li>
					<li>Diseño de Producto: <a href="http://www.furilo.com">Álvaro Ortiz</a></li>
					<li>Desarrollo: <a href="http://twitter.com/polimorfico">Carlos Hernández</a></li>
					<li>Edición y verificación: <a href="http://www.linkedin.com/pub/mar-cabra/21/bb8/8b9">Mar Cabra</a> y <a href="http://www.linkedin.com/pub/marcos-garc%C3%ADa-rey/49/84a/266">Marcos García Rey</a></li>
					<li>Infografías El Confidencial: <a href="http://jescuderoma.pressfolios.com/">Jesús Escudero</a></li>
				</ul>
			</p>
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="agradecimientos">
			<h2>Agradecimientos</h2>
			<p>Nacho Cardero, director de El Confidencial, y Ana Pastor, directora de El Objetivo, fueron los primeros en creer en este proyecto. ¡Muchas, muchas gracias!</p>

			<p>El análisis de datos no habría sido tan preciso sin la disponibilidad y ayuda del Servicio de Estadística de la Subdirección General de Políticas de Desarrollo del Ministerio de Asuntos Exteriores y Cooperación. En contra de la opacidad que muchas veces reina en la administración española, ellos han invertido muchas horas en explicarnos cómo entender los datos e incluso en chequarlos.</p>

			<p>El conocimiento de <a href="http://www.oxfamintermon.org/">Oxfam Intermón</a> ha sido clave para guiarnos a lo largo de nuestro análisis y no sacar conclusiones erróneas. La organización lleva décadas analizando estos datos bajo su proyecto "<a href="http://www.oxfamintermon.org/es/informate/publicaciones/estudios/realidad-de-ayuda">La Realidad de la Ayuda</a>".</p>

			<p>Y a pesar de que no nos han dado toda la información y documentos que hemos pedido, queremos agradecer a la Agencia Española de Cooperación Internacional para el Desarrollo (AECID) por habernos facilitado más de una docena de entrevistas.</p>

			<p>Por último, queremos dar las gracias a todas esas personas que nos han ayudado en la sombra porque creen en la transparencia.</p>
			</p>
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="contacto">
			<h2>Contacto</h2>
			<p>Puedes escribirnos a ayudaaldesarrollo2013@gmail.com</p>

			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

	</section>

</section>
