<style type="text/css">.primary_links { display: none; } </style>
<section id="text_page">
	<nav class="nav">
		<summary>
		    <ul>
			    <li><a href="#acerca-de-este-proyecto">Acerca de este proyecto</a></li>
				<li><a href="#acerca-de-la-aod">Acerca de la Ayuda Oficial al Desarrollo</a></li>
				<li><a href="#faq">Preguntas frecuentes</a></li>
				<li><a href="#origen-de-los-datos">Origen de los datos</a></li>
				<li><a href="#financiacion">Financiación</a></li>
				<li><a href="#equipo">Equipo</a></li>
				<li><a href="#agradecimientos">Agradecimientos</a></li>
				<li><a href="#contacto">Contacto</a></li>
			</ul>
		</summary>
	</nav>

	<section id="text_content">

		<h1>Acerca de ayudaaldesarrollo.es</h1>

	    <article id="acerca-de-este-proyecto">
			<h2>Acerca de este proyecto</h2>

			<p>Este proyecto es el resultado de cuatro meses de trabajo por parte de un equipo de ocho personas que nos propusimos investigar periodísticamente cómo afectan los recortes a la cooperación española. Hemos analizado los desembolsos de los más de 22.000 millones de euros invertidos en ayuda oficial al desarrollo de 2007 a 2012. Una política pública que se ha recortado un 67% desde 2008. Ni siquiera países en crisis como Grecia, Irlanda o Portugal han metido tanto la tijera como España.</p>

			<p>No nos hemos querido quedar tan solo en los datos. Además, hemos viajado a cinco países de tres continentes para comprobar cuál es el verdadero impacto de la ayuda y sus recortes. Hemos ido a Guatemala, Marruecos, Bolivia, Vietnam y República Democrática del Congo.</p>

			<p>A lo largo del mes de diciembre, iremos contando estas historias y visualizando los datos en esta web. A su vez, podrás ir leyéndonos en <a href="http://www.elconfidencial.com/">El Confidencial</a> o ver nuestro análisis en <a href="http://www.lasexta.com/programas/el-objetivo">El Objetivo de Ana Pastor</a>.</p>

			<p>Nuestro propósito es dar contexto e información precisa sobre un tema que los políticos de este país entienden como política de partido y no como política pública, independiente de la ideología. Antes de que acabe el año, todos los datos estarán disponibles para que tú mismo te los descargues y saques tus conclusiones.</p>

			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="acerca-de-la-aod">
			<h2>Acerca de la Ayuda Oficial al Desarrollo</h2>
			<p>La Ayuda Oficial al Desarrollo (AOD) es el dinero que los países industrializados como España dan a los países en vías de desarrollo para que luchen contra la pobreza. En el caso de nuestro país, incluye el dinero otorgado por todas las administraciones públicas: la Administración General del Estado, las Comunidades Autónomas, las Entidades Locales y las universidades.</p>

			<p>Gracias a los compromisos internacionales de España, tenemos datos en detalle de cuánto dinero se dio realmente a cada proyecto y los datos son públicos. Es decir, no tenemos que depender de las previsiones de gasto agregadas (o presupuestos). En este proyecto hemos analizado los desembolsos de AOD desde 2007 a 2012, que es el último año con datos disponibles. En ese período se han gastado 22.300 millones de euros.</p>

			<p>Ese es el gasto final, pero son datos netos. Es decir, que resultan tras añadir las devoluciones del dinero que hemos prestado a algunos países en vías de desarrollo, ya que en la AOD no todo son subvenciones no reembolsables (“a fondo perdido”).</p>

			<p>Si uno mira las cifras brutas, estamos hablando de 23.500 millones de euros y más de 147.000 registros con datos de desembolsos y reembolsos.</p>

			<p>A medida que vayamos visualizando datos en la web, añadiremos más información en esta sección.</p>
			
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>
		
		<article id="faq">
		  <h2>Preguntas frecuentes</h3>

			<h3 id="faq-1">¿Por qué no todas las ayudas tienen un país de destino?</h4>
			<p>Lorem ipsum...</p>

			<h3 id="faq-2">¿Por qué los datos de 2007 y 2012 son diferentes al resto de años?</h4>
			<p>Lorem ipsum...</p>
		</article>

		<article id="origen-de-los-datos">
			<h2>Origen de los datos</h2>
			
			<p>Los datos utilizados son los <a href="http://www.exteriores.gob.es/Portal/es/SalaDePrensa/Multimedia/Publicaciones/Paginas/Cooperacion/Seguimiento.aspx">volcados de los Seguimientos de los Planes Anuales de Cooperación Internacional (PACI) de 2007 a 2012</a>, ofrecidos por el Ministerio de Asuntos Exteriores y de Cooperación.</p>

			<p>La información sobre otros países donantes se ha obtenido del <a href="http://www.oecd.org/dac/stats/odatrendsfrom1960to2012.htm">Comité de Ayuda al Desarrollo (CAD) de la Organización para la Cooperación y el Desarrollo Económico (OCDE)</a>.</p>

			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="financiacion">
			<h2>Financiación</h2>
			<p>Este trabajo de investigación periodística ha sido posible gracias a una <a href="http://journalismgrants.org/press-release-the-first-awards-of-the-innovation-in-development-reporting-grant-programme-announced/ – Change | Remove">ayuda</a> financiada por las Journalism Grants, concedidas mediante concurso abierto del <a href="http://ecj.net">European Journalism Center</a> y la <a href="http://www.gatesfoundation.org/">Bill & Melinda Gates Foundation</a>. Los medios de publicación han sido: El Confidencial y el programa El Objetivo (laSexta TV). La independencia editorial de los donantes ha sido total.</p>
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="equipo">
			<h2>Equipo</h2>
			<p>
				<ul>
					<li>Jefa de proyecto: <a href="http://www.linkedin.com/pub/mar-cabra/21/bb8/8b9">Mar Cabra</a></li>
					<li>Análisis de datos: <a href="http://www.linkedin.com/pub/mar-cabra/21/bb8/8b9">Mar Cabra</a> y <a href="http://jescuderoma.pressfolios.com/">Jesús Escudero</a></li>
					<li>Reporteros:
						<ul>
							<li><a href="http://www.linkedin.com/pub/marcos-garc%C3%ADa-rey/49/84a/266">Marcos García Rey</a></li>
							<li><a href="http://jescuderoma.pressfolios.com/">Jesús Escudero</a></li>
							<li><a href="https://twitter.com/Poves">Carlos Hernanz</a></li>
							<li><a href="https://twitter.com/rvillaecija">Raquel Villaécija</a></li>
							<li><a href="http://www.obamaworld.es/">Jordi Pérez Colomé</a></li>
						</ul>
					</li>
					<li>Diseño de Producto: <a href="http://www.furilo.com">Álvaro Ortiz</a></li>
					<li>Desarrollo: <a href="http://twitter.com/polimorfico">Carlos Hernández</a></li>
					<li>Edición y verificación: Mar Cabra y Marcos García Rey</li>
					<li>Infografías El Confidencial: Jesús Escudero</li>
				</ul>
			</p>
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="agradecimientos">
			<h2>Agradecimientos</h2>
			<p>Nacho Cardero, director de El Confidencial, y Ana Pastor, directora de El Objetivo, fueron los primeros en creer en este proyecto. ¡Muchas, muchas gracias!</p>

			<p>El análisis de datos no habría sido tan preciso sin la disponibilidad y ayuda del Servicio de Estadística de la Subdirección General de Políticas de Desarrollo del Ministerio de Asuntos Exteriores y Cooperación. En contra de la opacidad que muchas veces reina en la administración española, ellos han invertido muchas horas en explicarnos cómo entender los datos e incluso en chequarlos.</p>

			<p>El conocimiento de <a href="http://www.oxfamintermon.org/">Oxfam Intermón</a> ha sido clave para guiarnos a lo largo de nuestro análisis y no sacar conclusiones erróneas. La organización lleva décadas analizando estos datos bajo su proyecto “<a href="http://www.oxfamintermon.org/es/informate/publicaciones/estudios/realidad-de-ayuda">La Realidad de la Ayuda</a>”.</p>

			<p>Y a pesar de que no nos han dado toda la información y documentos que hemos pedido, queremos agradecer a la Agencia Española de Cooperación Internacional para el Desarrollo (AECID) por habernos facilitado más de una docena de entrevistas.</p>

			<p>Por último, queremos dar las gracias a todas esas personas que nos han ayudado en la sombra porque creen en la transparencia.</p>
			</p>
			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

		<article id="contacto">
			<h2>Contacto</h2>
			<p>Puedes escribirnos a ayudaaldesarrollo2013@gmail.com</p>

			<p class="to_the_top">
				<a href="#text_content"><i class="fa fa-arrow-circle-o-up"></i> Arriba</a>
			</p>
		</article>

	</section>

</section>
