<section id="themes">
  <header class="clearfix">
		<h1>Proyectos a los que se dedica la Ayuda Oficial al Desarrollo</h1>
		<div class="data_filter map_aid_dates">
			Año: 
			<ul>
			  <% (2007..2012).each do |year| %>
				  <li class="<%= (current_year.to_i==year) ? 'active' : ' ' %>"><%= link_to year, projects_path(year: year) %></li>
				<% end %>
			</ul>			
			<div class="nav_end"></div>
		</div>
	</header>
	
  <section class="table_browse">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="dataTable" data-source="<%= projects_url(params: { sSearch: params[:sSearch] }, format: "json") %>">
      <thead>
        <tr>
          <th>País/Región</th>
          <th>Proyecto</th>
          <th>Importe</th>
          <th>Organismo</th>
          <th>Tema</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <th>País/Región</th>
          <th>Proyecto</th>
          <th>Importe</th>
          <th>Organismo</th>
          <th>Tema</th>
        </tr>
      </tfoot>
    </table>
  </section>
</section>