.clearfix, section .sections, section .features, .map_aid_dates, .map_aid_types, section#country #country_overview, section#country #country_browse, section#proyect #proyect_overview, section#text_page {
  zoom: 1; }
  .clearfix:before, section .sections:before, section .features:before, .map_aid_dates:before, .map_aid_types:before, section#country #country_overview:before, section#country #country_browse:before, section#proyect #proyect_overview:before, section#text_page:before, .clearfix:after, section .sections:after, section .features:after, .map_aid_dates:after, .map_aid_types:after, section#country #country_overview:after, section#country #country_browse:after, section#proyect #proyect_overview:after, section#text_page:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, section .sections:after, section .features:after, .map_aid_dates:after, .map_aid_types:after, section#country #country_overview:after, section#country #country_browse:after, section#proyect #proyect_overview:after, section#text_page:after {
    clear: both; }

a {
  color: #006699; }

.lite {
  font-size: .8em; }

#container {
  margin: auto;
  width: 1000px;
  color: #8c8c8c;
  font-family: "museo-sans", arial; }

h1, h2, h3, h4, h5 {
  font-family: "museo-sans", sans-serif;
  font-weight: normal; }

.wf-loading h1 {
  visibility: hidden; }

.wf-active h1 {
  visibility: visible; }

.primary_links {
  position: absolute;
  bottom: 9px;
  right: 0;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }
  .primary_links li {
    display: inline-block;
    list-style-type: none;
    margin: 0  0 0 .25em;
    text-align: center;
    line-height: 1em;
    font-family: "museo-sans"; }
  .primary_links a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .2em .3em .175em; }
  .primary_links .sec_organismos {
    background: #99cc00; }
  .primary_links .sec_temas {
    background: #d1632a; }
  .primary_links .sec_paises {
    background: #006699; }

header.top {
  position: relative;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #FAEFE9; }
  header.top .secondary_links {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .7em;
    margin: 0;
    padding: 0; }
    header.top .secondary_links li {
      list-style-type: none; }
    header.top .secondary_links a {
      color: #A2A2A2; }

section#home-intro {
  margin: 0 0 4em 0; }
  section#home-intro .home-main-img {
    margin: 0 0 3em 0; }
  section#home-intro #main-graph {
    float: right;
    margin: 0 0 0 1em; }
    section#home-intro #main-graph #graph {
      position: relative; }
      section#home-intro #main-graph #graph #graph_difference {
        position: absolute;
        top: 90px;
        right: -45px;
        background: #F5FAE5;
        color: #d1632a;
        font-size: 1.8em;
        font-weight: bold;
        padding: .25em .5em;
        border-radius: 10px; }
  section#home-intro p.intro {
    color: #8c8c8c;
    font-size: 0.7em; }
  section#home-intro .intro-text {
    padding: 1em 0 1em 2em; }
    section#home-intro .intro-text h2 {
      color: #99cc00;
      margin: 1.25em 0 .2em 0; }
    section#home-intro .intro-text ul {
      margin: 0 0 1em 0;
      padding: 0; }
    section#home-intro .intro-text li {
      list-style-type: none;
      margin: 0 0 .25em 0;
      padding: 0;
      font-family: "museo-sans"; }

section#home header h2 {
  border-top: 1px solid #FAEFE9;
  padding-top: .5em; }
section header {
  color: #D1632A;
  margin: 0 0 1em 0; }
  section header h1 {
    font-size: 1.2em;
    margin: 2em 0 0 0; }
  section header h2 {
    font-weight: bold;
    margin: .25em 0 0 0; }
  section header p {
    margin: 0;
    font-family: "museo-sans";
    font-size: 1.3em; }
section .sections {
  margin-bottom: 3em; }
  section .sections .section {
    float: left;
    width: 33%;
    text-align: center; }
    section .sections .section h3 {
      font-size: 1.6em;
      margin: .5em 0 0 0; }
    section .sections .section p {
      margin: 0;
      font: 0.9em "museo-sans"; }
section .features .feature {
  width: 198px;
  height: 188px;
  float: left;
  position: relative;
  margin: 0 2px 10px 0; }
  section .features .feature img {
    z-index: 0; }
  section .features .feature span {
    position: absolute;
    background: #000;
    opacity: .7;
    z-index: 1;
    bottom: 0;
    height: 58px;
    width: 100%;
    display: block; }
  section .features .feature h3 {
    position: absolute;
    top: 134px;
    margin: 0;
    z-index: 2;
    padding: 0 .3em;
    font-size: .9em;
    font-family: "museo-sans"; }
    section .features .feature h3 a {
      color: #FFF; }

.map_aid_dates {
  float: left; }

.map_aid_types {
  float: right;
  width: 25%;
  font-size: .75em;
  text-align: right; }

.data_filter {
  margin: 1em 0; }
  .data_filter ul {
    display: inline-block;
    margin: 0;
    padding: 0 .75em;
    background: #fbf0eb;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
    .data_filter ul li {
      margin: 0;
      display: inline-block; }
      .data_filter ul li.active {
        background: #d1632a; }
        .data_filter ul li.active a {
          color: #FFF; }
      .data_filter ul li:hover {
        background: #d1632a;
        opacity: .5; }
        .data_filter ul li:hover a {
          color: #FFF; }
      .data_filter ul li a {
        display: block;
        padding: .4em .5em .25em .5em;
        color: #8c8c8c;
        text-decoration: none; }

ul.tabs {
  margin: 0;
  padding: 0 1em; }
  ul.tabs li {
    list-style-type: none;
    display: inline-block;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #d1632a;
    background: #fbf0eb;
    margin: 0 1em 0 0; }
    ul.tabs li.active {
      background: #d1632a; }
      ul.tabs li.active a {
        color: white; }
    ul.tabs li:hover {
      background: #d1632a;
      opacity: .5; }
      ul.tabs li:hover a {
        color: #FFF; }
    ul.tabs li a {
      padding: .75em 1em .5em 1em;
      display: block;
      text-decoration: none;
      color: #d1632a; }

.col-1-3, .col-2-3, .col-3-3 {
  width: 31%;
  margin: 0 3% 0 0;
  float: left; }

.col-1-4, .col-2-4, .col-3-4, .col-4-4 {
  width: 22%;
  margin: 0 4% 0 0;
  float: left; }

.col-3-3, .col-4-4 {
  margin: 0; }

.breadcrumb {
  font-size: .75em;
  color: #a2a2a2; }
  .breadcrumb a {
    text-decoration: none; }

section#organisms h2 {
  font-size: 1em; }
section#organisms ul {
  font-size: .8em;
  margin: 0;
  padding: 0; }
  section#organisms ul li {
    margin: 0 0 1em 0; }

section#country header {
  margin: 1em 0 .5em 0; }
  section#country header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold; }
section#country #country_overview {
  margin: 0 0 2em 0; }
  section#country #country_overview #graph_country {
    float: right; }
    section#country #country_overview #graph_country #graph_country_notes {
      text-align: right;
      font-size: .75em; }
      section#country #country_overview #graph_country #graph_country_notes a {
        opacity: .6; }
  section#country #country_overview table {
    z-index: 1;
    width: 500px;
    font-size: .8em; }
    section#country #country_overview table th {
      width: 250px;
      text-align: right;
      vertical-align: top;
      font-weight: normal;
      padding: 2px 10px 2px 2px; }
      section#country #country_overview table th .year_selector {
        display: inline-block; }
    section#country #country_overview table td {
      text-align: left;
      vertical-align: top;
      padding: 2px;
      font-weight: bold; }
      section#country #country_overview table td span {
        font-weight: normal; }
    section#country #country_overview table tr.sep td, section#country #country_overview table tr.sep th {
      padding-top: 1em; }
    section#country #country_overview table .main {
      font-size: 1.8em; }
      section#country #country_overview table .main th {
        font-size: 1em; }
  section#country #country_overview .year_selector {
    font-weight: bold;
    cursor: pointer; }
    section#country #country_overview .year_selector a {
      text-decoration: none; }
    section#country #country_overview .year_selector .fa-caret-square-o-down {
      opacity: .5;
      color: #d1632a; }
    section#country #country_overview .year_selector #year_selector_drop {
      text-align: left;
      z-index: 1000;
      opacity: 1;
      display: none;
      border: 1px solid #D5D5D5;
      border-radius: 2px;
      position: absolute;
      margin: 0 0 0 -8px;
      background: #EBEBEB;
      padding: .5em;
      font-size: .8em;
      width: 100px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); }
      section#country #country_overview .year_selector #year_selector_drop ul {
        margin: 0;
        padding: 0; }
        section#country #country_overview .year_selector #year_selector_drop ul li {
          list-style-type: none; }
section#country #country_browse h2 {
  font-size: 1.1em;
  padding: 0 0 .25em 0;
  margin-bottom: .5em; }
  section#country #country_browse h2.countries {
    border-bottom: 2px solid #006699; }
  section#country #country_browse h2.proyects {
    border-bottom: 2px solid #666666; }
  section#country #country_browse h2.themes {
    border-bottom: 2px solid #d1632a; }
  section#country #country_browse h2.organisms {
    border-bottom: 2px solid #99cc00; }
section#country #country_browse table, section#country #country_browse ul {
  font-size: .75em; }
section#country #country_browse table td {
  padding: 2px 2px 4px 2px;
  vertical-align: top; }
section#country #country_browse ul {
  padding: 0; }
section#country #country_browse li {
  margin-bottom: 1em; }
section#country #country_browse p.small {
  font-size: .7em; }

#country.organism h1 {
  font-size: 1.6em; }

section#proyect h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0 0 0; }
section#proyect table#proyect_details {
  float: right;
  width: 35em;
  margin: 0 2em 0 0;
  font-size: .85em; }
  section#proyect table#proyect_details th {
    text-align: right;
    width: 10em;
    padding: 0 1em .3em 0; }
  section#proyect table#proyect_details td {
    padding-top: 0; }
section#proyect section.proyect_description {
  float: left;
  width: 30em; }
  section#proyect section.proyect_description p {
    margin-top: 0; }

#map_regions table {
  border-collapse: collapse; }
  #map_regions table td {
    text-align: right;
    border: 1px solid #CCC;
    padding: 2px 2px 2px 6px; }
  #map_regions table td.s3 {
    text-align: left; }

h2.countries {
  color: #006699; }

h2.proyects {
  color: #666666; }

h2.themes {
  color: #d1632a; }

h2.organisms {
  color: #99cc00; }

section#text_page section#text_content {
  width: 42em;
  float: right; }
section#text_page .to_the_top {
  margin: 1em 0 2em;
  font-size: .8em; }
section#text_page .nav {
  font-size: .8em;
  line-height: 1.6em;
  float: left;
  width: 20em; }
  section#text_page .nav ul {
    padding-left: 1em;
    margin-left: .5em; }
section#text_page .sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  border-top: 0; }

footer {
  position: relative;
  border-top: 1px solid #FAEFE9;
  margin: 10em 0 5em 0;
  padding: 1em 0; }
  footer .primary_links {
    top: 15px; }
  footer .logos_colabs {
    text-align: center;
    padding: 3em 0;
    font-size: .75em; }
    footer .logos_colabs img {
      margin: 0 1em;
      border: 1px solid #D5D5D5; }

.ui-tooltip {
  padding: 12px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
  background: #FFF;
  border-radius: 4px;
  font-family: "museo-sans", arial;
  font-size: .8em;
  min-width: 200px; }

body .ui-tooltip {
  border-width: 2px; }

.media_logos {
  float: right;
  padding-top: 14px; }

.twitter-share-button {
  height: 25px; }

.social_links {
  margin: 2em 0; }

.barchart_element h2 {
  width: 380px;
  float: left;
  margin: 4px 30px 0 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right; }

.barchart_element h2 a {
  color: #D1632A; }

.total {
  width: 520px;
  float: left;
  height: 36px;
  background: #F6E0D4;
  position: relative;
  margin: 0 0 20px 0;
  color: #D1632A; }

.part {
  background: #D1632A;
  height: 100%;
  display: inline-block; }

.part_label {
  display: inline-block;
  vertical-align: top;
  padding: 9px; }

.total_money_label {
  position: absolute;
  right: 9px;
  top: 9px;
  text-align: right; }

#themes header {
  position: relative;
  margin: 0 0 2em 0; }

#themes header .data_filter {
  position: absolute;
  top: -3px;
  right: 0;
  margin: 0; }

/*.total, .part, .part_label { border: 1px solid red; }*/
#themes .breadcrumb {
  font-size: 1.2em;
  margin: 0 0 1em 0; }

.sub_theme {
  font-size: .85em; }

.sub_theme .total {
  height: 32px;
  margin-bottom: 10px; }
