<ul class="primary_links">
	<li class="sec_paises"><%= link_to 'Países', regions_path %></li>
	<li class="sec_temas"><%= link_to 'Temas', topics_path %></li>
	<li class="sec_organismos"><%= link_to 'Organismos', agencies_path %></li>
</ul>