<ul class="primary_links">
	<li class="sec_paises"><a href="?q=paises">Países</a></li>
	<li class="sec_temas"><a href="?q=temas">Temas</a></li>
	<li class="sec_organismos"><%= link_to 'Organismos', agencies_path %></li>
</ul>